<nav class="navbar navbar-expand-lg navbar-light bg-light nav-beaty">
  <img src="assets/logo.png">
  <a class="navbar-brand" [routerLink]="['/']">Culinary diary</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse d-flex justify-content-end"
    id="navbarNav"
  >
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="logOut">
        <button class="btn btn-success" [routerLink]="['/login']">Войти</button>
      </li>
      <li *ngIf="!logOut && role != ''">
        <a class="nav-link nav-role" *ngIf="!logOut" >Добро пожаловать, {{ name }}</a
        >
      </li>
      <li class="nav-item" *ngIf="!logOut">
        <button class="btn btn-danger" (click)="onLogOut()">Выйти</button>
      </li>
    </ul>
  </div>
</nav>
