.nav-beaty {
    background-color: rgb(255, 193, 7, 1) !important;
}

.navbar-nav li a {
    color: white !important;
    font-size: 18px;
}

.navbar-brand {

    font-weight: bold;
}

.navbar-brand:hover, .navbar-brand:focus, .navbar-brand:active {
    color: white !important;
}

.btn-success {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

button{
    background-color: black;
    border-color: black;
}